<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdang.ItemDao.ItemDao">
<insert id="addtoItem" parameterType="Item">
insert into item set bookname=#{bookname},orderid=#{orderid},bookid=#{bookid},price=#{price},count=#{count}
</insert>
</mapper> 